.topnav {
  border-radius: 10px;
  overflow: hidden;
  width: 95%;
  position: absolute;
  left: 2.5%;
  background: rgb(107, 147, 221);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eba351;
  color: white;
}

.topnav a.active {
  background-color: #eba351;
  color: white;
}

.topnav-right {
  float: right;
}


.sell-container {
  position: absolute;
  left: 2.5%;
  top: 10%;
  padding-top: 3%;
  border-radius: 10px;
  width: 95%;
  max-width: 95%;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  background: rgb(107, 147, 221);
}

label {
  color: white;
  font-size: 17px;
  padding: 12px 20px 25%;
}

input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 5%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 5%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}


button[type=submit] {
  width: 50%;
  background-color: #eba351;
  color: white;
  padding: 14px 15px;
  margin: 15px 25%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button[type=submit]:hover {
  background-color: #a07b45;
}

.error {
  width  : 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

ul {
  padding: 5px 5px;
}