.container {
  max-width: 960px;
  margin: auto;
}

.topnav {
  border-radius: 10px;
  overflow: hidden;
  width: 95%;
  position: absolute;
  left: 2.5%;
  background: rgb(107, 147, 221);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #eba351;
  color: white;
}

.topnav a.active {
  background-color: #eba351;
  color: white;
}

.topnav-center a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

.table-container {
  position: absolute;
  left: 2.5%;
  top: 8%;
  overflow-x: auto;
  margin: auto;
  border-radius: 10px;
  width: 95%;
  max-width: 95%;
  background: rgb(107, 147, 221);
}



table.lot-list {
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

table.lot-list tr {
  background-color: #f8f8f8;
}

table.lot-list th, table.lot-list td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

table.lot-list th {
  background-color: rgb(107, 147, 221);
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.description-col {
  width: 75ch;
}