body {
  margin: 0;
}

.container {
  width: 95%;
  margin: 15px auto;
  color: white;
}


/* NAVIGATION BAR */

.navbar {
  position: relative;
  height: 4rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(107, 147, 221);
}

.navbar a {
  float: left;
  text-align: center;
  color: white;
  padding: 22px 16px;
  font-size: 17px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #eba351;
  color: white;
}

.search-line {
  height: 5px;
  padding: 5px 5px;
}

.navbar-right {
  float: right;
}

.table-container .search-line .t {
  border-radius: 5px;
}

.navbar a.active {
  background-color: #eba351;
  color: white;
}


/* TABLE */

.table-container {
  overflow-x: auto;
  position: relative;
  top: 15px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(107, 147, 221);
}

.lot-list {
  overflow: hidden;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  color: black;
}

tr {
  background-color: #f8f8f8;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: rgb(107, 147, 221);
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.description-col {
  width: 75ch;
}

#id, #title, #s_price, #stop_date, #bid_inc {
  cursor: pointer;
}
