body {
}



.id-col {
  background-color: #525d76;
  color: #ffffff;
}

.id-col1 {
  background-color: #ffffff;
  text-align: center;
}

.lot-list {
  border-collapse: collapse;
}

th {
  color: white;
  border: 2px solid #3c3f41;
  background-color: #525d76;;
}

td {
  border: 2px solid #3c3f41;
  height: 28px;
}


.description-col {
  width: 75ch;
}